


/* Book Card  */
.book-card-wrapper {
  background: white;
  margin-right: .5rem;
  min-width: 5rem;
}

.book-card-content {
  background: white;
  padding: .25rem;
}

.book-card img {
  min-height: 100px;
  height: 100px;
  width: 100%;
}

.book-card p {
  margin: 0;
  font-size: .65rem;
}




/* Modal  */
.modal-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .8);
  background: white;
  z-index: 98;
  padding-top: 60px;
  /* position: relative; */
  overflow-y: scroll;
  /* z-index: 999; */
}

.modal {
  max-width: 768px;
  margin: auto;
  height: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* position: relative; */
  padding: 1rem;
}

.modal .close-btn {
  align-self: flex-end;
/* position: absolute;
top: 0;
right: 0; */
}

.modal-header {
  text-align: center;
}

.modal-content {
  max-width: 75%;

}