
h2 {
  background: var(--light);
  font-family:monospace;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  padding: .25rem;
  font-size: 1.25rem;
  margin: 0;
  color: black;
  border-bottom: 1px solid var(--purblue);
}

p {
  margin: 0;
}