
/* Layout  */
header {
  background: green;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 0;
}


footer {
  background: green;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

footer p {
  margin: 0;
}

main {
  padding-top: 100px;
  min-height: calc(100vh - 142px);
}