

/* .App {
  overflow-y: hidden;
} */

/* Layout  */
header {
  background: var(--bright);
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

h1 {
  margin: 0;
}


footer {
  background: white;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  height: 60px;
}

footer p {
  margin: 0;
}

main {
  max-width: 1140px;
  margin: auto;
  min-height: 100vh;
  height: auto;
  padding: 70px 0 10px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(182,213,225,1) 80%);
}

/* .list-wrapper {
  border: 1px solid black;
  background: white;
  margin-bottom: 2rem;
} */

/* .list-wrapper button:first-of-type {
  width: 100%;
  padding: .5rem 0;
  text-decoration: underline;
} */

.section-content {
  padding: 0 .5rem;
  margin-top: 1rem;
}

.search-section,
.book-lists-section,
.random-book-section {
  /* background: white;  */
  /* padding: .5rem; */
  margin-bottom: 2rem;
  background: var(--bright);
  border-radius: .25rem;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
  width: 95%;
  margin: 0 auto 2rem;
  max-width: 768px;
  box-shadow: 0 0 5px var(--blue-gray);
  padding-bottom: 1rem;
}

.search-results,
.bucket-list,
.read-list {
  display: flex;
  flex-wrap: nowrap;
  /* width: 90%; */
  overflow-x: scroll;
  /* margin: 1rem 0; */
  /* margin: 1rem auto; */
  background: var(--white);
  padding: .5rem;
  border-radius: .25rem;
}

/* .read-list {
  background: var(--light);
} */





