
/* Layout  */
header {
  background: green;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

h1 {
  margin: 0;
}


footer {
  background: green;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  height: 60px;
}

footer p {
  margin: 0;
}

main {
  padding-top: 60px;
  padding-bottom: 60px;
  /* viewport height minus padding and footer height */
  /* min-height: calc(100vh - 120px);  */
  max-width: 768px;
  height: 100vh;
  margin: auto;
  background: pink;
}

.search-results {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  overflow-x: scroll;
}
